{% extends 'core/index.html' %}
{% block content %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Количество страниц</th>
            <th scope="col">Жанр</th>
            <th scope="col">Автор</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'core:book_detail' book.pk %}">{{ book.name|capfirst }}</a></td>
                <td>{{ book.pages|default:" - " }}</td>
                <td>{{ book.genre|default:" - " }}</td>
                <td>{{ book.author|default:" - " }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'core:book_update' object.pk %}" class="btn btn-outline-warning" role="button" data-bs-toggle="button">Изменить</a>
    <a href="{% url 'core:book_delete' object.pk %}" class="btn btn-outline-danger" role="button" data-bs-toggle="button">Удалить</a>
{% endblock %}